.node rect {
 	cursor: move;
 	fill-opacity: 1.0;
 	shape-rendering: crispEdges;
}

.node text {
 	pointer-events: none;
 	text-shadow: 0 1px 0 #fff;
}

.link {
 	fill: none;
 	stroke-opacity: .7;
}

.link:hover {
 	stroke-opacity: 1.0;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;
}

.bshadow {
	-moz-box-shadow: 3px 3px 5px #535353;
	-webkit-box-shadow: 3px 3px 5px #535353;
	box-shadow: 3px 3px 5px #535353;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px 6px 6px 6px;
	font-size: 0.85em;
}

div#loading {
	margin-top: 200px;
	margin-left: 200px;
}

div.tooltip {
	position: absolute;
	z-index: 10;
	background-color: white;
	-moz-box-shadow: 3px 3px 5px #535353;
	-webkit-box-shadow: 3px 3px 5px #535353;
	box-shadow: 3px 3px 5px #535353;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px 6px 6px 6px;
	font-size: 0.85em;
}

.tooltipDiv {
	width: 140px;
}

.valueCol {
	float:left;
	margin-left: 90px;
	width: 325px;
	margin-top: -85px;
}

button {
	background-color: silver;
	border-radius: 10px;
}

.topControls {
	margin-top:15px;
	float: left;
}

.metricsControls {
	margin-top: 25px;
	float:left;
	height: 20px;
}

label.flowGraphLabel {
	font-size: 1.2em;
	margin-top: 10px;
	margin-left: 200px;
}

label.jobsLabel {
	margin-right: 5px;
}

#jobs {
	margin-right: 5px;
}

img#stateImg {
	margin-top:	10px;
	margin-right: 20px;
}

#layers {
	margin-right: 20px;
}

label.layersLabel {
	margin-right: 5px;
}

label.tagsLabel {
	margin-right: 35px;
	margin-top: 10px;
}

label.refreshLabel {
	margin-right: 5px;
}

#refreshInterval {
	margin-right: 5px;
}

#toggleTimer {
	margin-right: 15px;
	height: 25px;
	font-size: 0.7em;
}

#toggleTimer.stop {
	background-color: indianred;
}

#toggleTimer.start {
	background-color: lightgreen;
}

#metrics {
	margin-right: 5px;
}

#rateUnit {
	margin-right: 15px;
}

label.metricsLabel {
     margin-right: 5px;
}

label.chartTypeLabel {
	margin-right: 5px;
}


#showAll {
 	font-size: 1.05em;
 	color: steelblue;
}

#showAll:hover {
	cursor: default;
}

label.metricsTitle {
	font-size: 1.18em;
	margin-top: 10px;
	margin-left: 450px;
}

.warningLabel {
	 font-size: 0.95em;
	 margin-left: 10px;
}

th.smaller {
	padding: 5px;
}

th {
	padding: 8px;
	font-weight: bold;
	text-align: center;
	border: 1px solid lightsteelblue;
}

td.left {
	padding: 8px;
	text-align: left;
	width: 150px;
	word-wrap:break-word;
}

td.right {
	padding: 8px;
	text-align: right;
	width: 150px;
	word-wrap:break-word;
}

td.smallRight {
	padding: 5px;
	text-align: right;
	word-wrap:break-word;
	width: 80px;
	font-size: 0.85em;
}

td.smallCenter {
	padding: 5px;
	text-align: center;
	word-wrap:break-word;
	width: 80px;
	font-size: 0.85em;
}

td.smallLeft {
	padding: 5px;
	text-align: left;
	word-wrap:break-word;
	width: 80px;
	font-size: 0.85em;
}

td.center {
	padding: 8px;
	text-align: center;
	width: 150px;
	word-wrap:break-word;
}

td.center100 {
	padding: 8px;
	text-align: center;
	width: 100px;
	word-wrap:break-word;
}

caption {
	font-weight: bold;
}
