svg {
	font: 12px sans-serif;
}

.axis {
  font: 11px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
	fill: none;
	stroke: #000;
	stroke-width: 1.5px;
}